<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Verified Actions</title>
    </head>

    <body>
        <div th:replace="~{header :: common-header}" ></div>
            <form th:action="@{/midRestartSeason}" method="get" enctype="multipart/form-data">
                <button type="submit">Restart the season!</button>
            </form>

            <form  th:action="@{/nullMonthQueries}" method="get" enctype="multipart/form-data">
                <button type="submit" >Null month user`s queries!</button>
            </form>
    </body>
</html>